<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total todo_list Page</title>
</head>

<body>
    <h1>Total todo_list Page</h1>
    <ul>
        <% for(let todo of todo_list){%>
            <li>
                <div>
                    <b>
                        <%=todo.Title %>
                    </b>
                    - Completed: <%=todo.Completed%>
                </div>
                Description:
                <%=todo.Description %>

                    <a href="/Todos/<%=todo.id %>">details</a>
            </li>
            <br>
            <% }%>
    </ul>
    <a href="/Todos/new">Add new Todo</a>
</body>

</html>